.earth-outer-container {
  background-color: #f3f3f3;
  padding-top: 4rem;
}

.earth-inner {
  padding-left: 12vw;
  padding-right: 7.5rem;
}

.earth-row {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.earth-title {
  max-width: 31rem;
}

.earth-title-h1 {
  font-size: calc(36px + 16 * (100vw - 500px) / 1500);
  line-height: 1.3;
  margin-bottom: 2.5rem;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 600;
}

.earth-title-p {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 2;
  color: #777;
  text-align: start;
  position: relative;
}

.earth-nav {
  display: flex;
  margin-top: 3rem;
}

.earth-drop {
  margin-right: 1.75rem;
  font-size: 1rem;
}

.select-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media (min-width: 700px) {
  .earth-drop {
    margin-right: 3rem;
  }
}

.map-container {
  position: relative;
  perspective: 800px;
}

.map-inner {
  will-change: transform;
  width: 70%;
  z-index: 1;
}

.cloud-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000;
  /* -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url(https://discoverylandco.com/static/globe-mask.png); */
  /* mask-image: url(https://discoverylandco.com/static/globe-mask.png);  */
}

.cloud-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  opacity: 0.3;
  z-index: 1;
  /* mask-image: url(https://discoverylandco.com/static/globe-mask.png); 
    mask-repeat: space;
    mask-size: cover;
    mask-type: luminance; */
}

.map-world {
  position: relative;
  padding-top: 85%;
}

.map1 {
  opacity: 1;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map1-figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map1-figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url(https://discoverylandco.com/static/globe-mask.png); */
  /* mask-image: url(https://discoverylandco.com/static/globe-mask.png); */
  /* mask-mode: alpha;
    mask-repeat: no-repeat; */
}

.place-container {
  top: 43%;
  left: 45%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 1.15rem;
  width: 1.15rem;
  cursor: pointer;
}

.place-container2 {
  top: 42%;
  left: 44%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 1.15rem;
  width: 1.15rem;
  cursor: pointer;
}

.earth-detail-outer {
  position: relative;
  display: flex;
  margin-top: calc(10rem * -0.375 - 1px);
  pointer-events: none;
  z-index: 2;
}

.earth-detail-middle {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.earth-detail-inner {
  position: relative;
  overflow: hidden;
  padding-top: 2.25rem;
  padding-top: calc(var(--spacing) * 0.375);
  width: 100%;
  pointer-events: all;
}

@media (min-width: 1000px) {
  .earth-detail-inner {
    /* margin-right: -4vw; */
    margin-right: calc(12vw * 0.5 * -1);
    z-index: 2;
  }
}

.earth-detail-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 8vw;
  padding: var(--gutter);
  background-color: #161f1e;
}

@media (min-width: 700px) {
  .earth-detail-box {
    padding: calc(10rem * 0.375) calc(10rem * 0.25) calc(10rem * 0.375)
      calc(10rem * 0.375);
  }
}

.earth-content {
  position: relative;
  width: 55%;
  z-index: 2;
}

.earth-content-nav {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 4.5rem;
}

.earth-content-nav::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  bottom: -1.5rem;
  left: -1.5rem;
  right: -1.5rem;
}

.button-content1 {
  padding-left: 0;
  padding-right: 1rem;
  z-index: 1000;
  background-color: transparent;
  border: 0;
}

.button-content1:focus {
  outline: 0;
}
.button-content1 svg {
  fill: #fff;
  height: 0.9rem;
  width: auto;
  fill: white;
}

@media (min-width: 700px) {
  .button-content1 svg {
    height: 1.1rem;
    fill: white;
  }
}

.weather-container {
  transform: matrix(1, 0, 0, 1, -11.438, 0);
  display: flex;
}

.weather-icon {
  color: #fff;
  text-align: center;
  margin-bottom: 0.5rem;
}

.weather-icon svg {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  height: 1.35rem;
}

.icon-detail-text {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.7rem;
  text-align: center;
  width: 3.5rem;
  white-space: nowrap;
}

.empty-weather-block {
  margin-right: 1.5rem;
}

.city-container {
  margin: 4.5rem 0 1.5rem;
}

.city-text {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.9rem;
  font-family: "Helvetica", "Arial", sans-serif;
}

.big-city-container {
  margin-bottom: 1.5rem;
}

.big-city-text {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.9rem;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
  color: #fff;
  font-size: calc(36px + 16 * (100vw - 500px) / 1500);
}

.location-icon {
  color: #fff;
  height: 1.25rem;
  margin-right: 1rem;
}

.location-font {
  color: hsla(0, 0%, 100%, 0.5);
  font-family: "Helvetica", "Arial", sans-serif;
  white-space: nowrap;
  line-height: 2;
}

.location-container {
  display: flex;
  align-items: center;
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 0.9rem;
}

.final-img-container {
  --offset: calc(10rem * -0.75);
  position: relative;
  overflow: hidden;
  margin-top: -7.5rem;
  /* margin-right: -8vw; */
  margin-right: calc(12vw * -1);
  /* margin-bottom: calc(var(--offset)*-2.25);
    width: calc(45% + 8vw); */
  width: calc(45% + 12vw);
}

@media (min-width: 500px) {
  .final-img-container {
    margin-bottom: 0;
  }
}

.final-img-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
