.expand-container {
  position: relative;
  height: 100vh;
}
@media (min-width: 700px) {
  .expand-container {
    max-height: 56.5vw;
  }
  .three-blocks {
    flex-wrap: wrap;
  }
}

.three-blocks {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 33;
}

/* #showup1 {
    animation: showup 1s ease-in;
} */
.img-outer {
  flex: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000;
}

/* .img-outer::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: hsla(0,0%,100%,.1);
        z-index: 10000;
        margin-left: 1px;
} */

.img-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.img-temp {
  object-fit: cover;
  background-color: #f3f3f3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* animation: shiftRight 1s ease-in forwards; */
  z-index: 99;
}

.figure-style-cool {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  /* animation: shiftLeft 1s ease-in forwards; */
  margin-bottom: 0 !important;
  overflow: hidden;
  cursor: pointer;
}

.figure-style-cool::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(17, 17, 17, 0.35);
  z-index: 100;
}

.figure-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.figure-title {
  color: white;
  font-size: calc(27px + 17 * (100vw - 500px) / 1500);
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Gotham", "Arial", sans-serif;
}

.circle-group {
  position: relative;
  margin-top: 1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #fff;
  overflow: hidden;
}

.circle-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.circle-1 svg {
  width: 1.15rem;
  height: 100%;
  z-index: 100;
}

.circle-2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.circle-2 svg {
  width: 1.15rem;
  height: 100%;
  z-index: 100;
}

@keyframes shiftLeft {
  0% {
    transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
  }
  40% {
    transform: translate(-7%, 0%) translate3d(0px, 0px, 0px);
  }
  80% {
    transform: translate(-93%, 0%) translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate(-100%, 0%) translate3d(0px, 0px, 0px);
  }
}

@keyframes shiftRight {
  0% {
    transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
  }
  40% {
    transform: translate(7%, 0%) translate3d(0px, 0px, 0px);
  }
  80% {
    transform: translate(93%, 0%) translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate(100%, 0%) translate3d(0px, 0px, 0px);
  }
}

@keyframes shiftLeftBack {
  0% {
    transform: translate(-100%, 0%) translate3d(0px, 0px, 0px);
  }
  40% {
    transform: translate(-93%, 0%) translate3d(0px, 0px, 0px);
  }
  80% {
    transform: translate(-7%, 0%) translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
  }
}

@keyframes shiftRightBack {
  0% {
    transform: translate(100%, 0%) translate3d(0px, 0px, 0px);
  }
  40% {
    transform: translate(93%, 0%) translate3d(0px, 0px, 0px);
  }
  80% {
    transform: translate(7%, 0%) translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
  }
}

.video-container-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
/* .video-container::before {
    content: "";
    background-color: rgba(17,17,17,.5);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.video-common {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

.video-common video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

@keyframes showup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showoff {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.video-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.video-detail-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  padding-right: 7.5vw;
  opacity: 0;
  z-index: 900000;
}

.content-row {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  /* transition: 3.3s; */
}

.article-style {
  max-width: 23.5rem;
  position: relative;
}

.big-title {
  color: #fff;
  margin-bottom: 2rem;
  line-height: 1.1;
  -webkit-transform-origin: left;
  transform-origin: left;
  font-size: calc(27px + 17 * (100vw - 500px) / 1500);
  font-weight: 700;
  font-family: "Gotham", "Arial", sans-serif;
}

.small-title-container {
  color: #fff;
  transform-origin: left;
  line-height: 2;
  font-size: 0.9rem;
}

.small-title {
  display: block;
  text-align: start;
  position: relative;
}

.small-common {
  position: relative;
  display: inline-block;
}

.video-container-box::before {
  content: "";
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 25;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.explore-btn {
  margin-top: 3rem;
  height: 2.5rem;
  width: 40%;
  padding: 2rem;
  display: flex;
  overflow: hidden;
  background-color: transparent;
  color: white !important;
  font-weight: 700;
  font-family: "Gotham", "Arial", sans-serif;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

@keyframes important {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
